@model IEnumerable<InventarioAVMR.Models.Bordado>
@*
    Esto des un comentario
*@
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title>info Bordado</title></head>
    <body>
        <header>
            <h1></h1>
        </header>

        <main>
            <table>
                <thead>
                    <tr>Código</tr>
                    <tr>Color</tr>
                    <tr>Marca</tr>
                </thead>
            </table>
        </main>
    </body>
</html>
